@import 'https://fonts.googleapis.com/css?family=Lato:400,700';

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
}

#page-wrapper {
    position: relative;
}

#header {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #00060e;
    min-height: 75px;
    padding: 0px 20px;
}

#header-img {
    width: 7vw;
}

nav {
    font-weight: 400;
}

ul {
    width: 35vw;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

li {
    list-style: none;
}

a {
    color: white;
    text-decoration: none;
}