@import 'https://fonts.googleapis.com/css?family=Lato:400,700';

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
}

#page-wrapper {
    position: relative;
}

#header {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #00060e;
    min-height: 75px;
    padding: 0px 20px;
}

#header-img {
    width: 5vw;
}

nav {
    font-weight: 400;
}

ul {
    width: 35vw;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

li {
    list-style: none;
}

a {
    color: white;
    text-decoration: none;
}

#hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 200px;
    margin-top: 30px;
}

#hero h2 {
    margin-bottom: 20px;
}

#hero input[type="email"] {
    max-width: 275px;
    width: 100%;
    padding: 5px;
}

#hero input[type="submit"] {
    max-width: 150px;
    width: 150px;
    height: 30px;
    margin: 15px 0;
    border: 0;
    background-color: #3882F6;
    color: #E5E7EB;
    font-size: 15px;
    font-weight: 900;
}

#hero input[type="submit"]:hover {
    background-color: hsl(217, 91%, 49%);
}

#features {
    margin-top: 30px;
    margin-right: 150px;
    margin-left: 100px;
}

#features .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 125px;
    width: 20vw;
}

#features .desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 125px;
    width: 80vw;
    padding: 5px;
}

.grid {
    display: flex;
}

#how-it-works {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

#how-it-works iframe {
    max-width: 560px;
    width: 100%;
}